@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: font-family: 'Poppins', sans-serif;
}
header
{
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url("image/3.jpg");
  background-size: cover;
  overflow: hidden;
  /*animation: header 2s ease-in-out;
}
@keyframes header{
  0%{
    transform: translateY(-100%);
  }*/
}
.container{
  width: 90%;
  margin: auto; 
}
nav{
  height: 80px;
}
nav h1{
  float: left;
  line-height: 80px;
  font-size: 35px;
  font-size: inline;
  color: crimson;
}
 img{
  border-radius: 50%;
}
nav ul{
  float: right;
  line-height: 80px;
}
nav ul li{
   display: inline-block;
   list-style: none;
   padding: 0px 5px;
}
nav ul li a {
  color: rgba(243, 227, 9, 0.658);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 8px;
}
nav ul li a:hover{
  background-color: #eb76;
  transition: 0.5s ease;
}
nav ul li .active {
  background-color: #eb76;
}
.article{
  width:50% ;
  margin: auto;
  padding: 15px;
  text-align: center;
  transform: translateY(25vh);
}
.article h1{
  font-size: 36px;
  color: rgb(230, 114, 5);
  letter-spacing: 1.5px;
  font-weight: 800;
  margin: 25px;
}

footer{
  display:block;
  letter-spacing: 1.5px;
  justify-content: center;
  padding:50;
  background-color: rgba(177, 153, 121, 0.692);
  color: rgb(10, 10, 9);
}
.media-icons{
  display:flex;
  background-color: rgba(177, 153, 121, 0.692);
  margin: auto;
  padding: 90px;
  justify-content:center;
  text-align: center;
  letter-spacing: 2px;
  align-items:centre;
  
} 
.media-icons a{
  position: relative;
  color: rgb(10, 10, 10);
  font-size: 20px;
}
.media-icons a:not(:last-child){
  margin-right: 10%;
}
.media-icons a:hover{
  background-color: rgba(251, 253, 253, 0.582);
  transition: 0.5s ease;
  border-radius: 25%;
}
footer ul{
   background-color: rgba(177, 153, 121, 0.692);
   position: absolute;
   margin-bottom: 0%;
   padding: 0%;
   letter-spacing: 2.5;
   text-align: center;
   justify-content: center;
   display: flex;
}
footer  li {
  background-color:#d8a371;;
  padding: 0%;
  position: fixed;
  font-display: black;
}
div p{
  font-size: 26px;
  color: rgb(58, 56, 51);
  letter-spacing: 1.5px;
  font-weight: 800;
  margin: 25px;
  padding: 20px;
  flex-direction: column;
}
.row{
  width: 100%;
  margin: auto;
}
.p{
  width: 100%;
  margin: auto;
}
footer p{
  background-color: rgb(221, 203, 170);
  align-items: self-end;
}
section{
  background-color: rgba(177, 153, 121, 0.692);
}
section img{

  overflow: hidden;
  border-radius: 0px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width:50% ;
  height: 70%;
  margin: auto;
  padding: 15px;
  transform: translateY(15vh);

}
section h2 {
  text-align: right;
  text-decoration: underline;
  text-transform: uppercase;
  width:70% ;
  margin: auto;
  padding: 15px;
  transform: translateY(-120vh);
  font-size: 36px;
  color: rgb(68, 94, 71);
  letter-spacing: 1.5px;
  font-weight: 400px;

}

